$white-color: #FFFFFF;
$dark-color: #000000;
$dark-blue: #0156FF;
$light-blue: #01A4FF;
$ligh-background: #F5F7FF;
$dark-gray: #666666;
$medium-gray: #A2A6B0;
$light-gray: #CACDD8;
$orange-color: #C94D3F;
$green-color: #78A962;
$gold-color: #E9A426;
