@import './colors';
@import './devices';

.home .container {       
    .new-products {        
        .new-products__link {
            font-size: 10px;
            color: $dark-blue;
            text-decoration: underline;        
        }              
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .products {                    
        @media (max-width: $breakpoint-tablet) {
            justify-content: flex-start;                        
        } 
        &::-webkit-scrollbar {
            display: none;
        }
        display: flex;                        
        justify-content: space-between;                                          
        overflow-x: scroll;                                        
        width: 100%;                
        .product {
            height: 100%;
        }
    }  

    .home___row {  
        @media (max-width: $breakpoint-mobile) {
            flex-direction: column;            
        }  
        display: flex; 
        align-items: center;                   
        overflow: hidden;        
        min-height: 500px;   

        .product-category {
            @media (min-width: $breakpoint-tablet) {
                flex-direction: column;                                        
            }  
            flex-shrink: 0;            
        }                   
    }

    .brands-row {
        display: flex; 
        margin: 2rem 0;                    
        overflow: hidden;        
        
        .brands {
            display: flex;            
            width: 100%;            
            flex-wrap: wrap;         
            justify-content: center;

            .brand {
                max-width: 170px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        } 
    }

    .follow-us {
        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
        .posts {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;            
            padding: 2rem 0;
            
            .post {
                padding: 5px;
            }
        }
    }

    .testemonials {
        @media (max-width: $breakpoint-tablet) {
            width: 100%;
            padding: 2rem 1.5rem;        
        }
        width: 80%;
        background-color: $ligh-background;
        min-height: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.5rem 8rem;        
        margin: 0 auto;

        .text {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .quote {
                margin-right: 20px;                
            }                      
        }

        .name {                
            text-align: right;     
            width: 100%;
            padding: 20px 0;
        }

        .review-cta {
            text-align: left;
            width: 100%;            
        }
    }
}

.slider {
    button {
        display: none;
    }

    .slider__item {
        img {
            width: 100%;
            height: 100%;
        }
    }
}