@import './colors';
@import './devices';

.product {
    width: clamp(174px, 200px, 210px);
    height: clamp(256px, 320px, 320px); 
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // flex-shrink: 0;  
    .stock {
        font-size: 12px;
        display: flex;
        align-items: center;        
        padding: 5px 0 15px 0;
        svg {
            font-size: 16px;
            margin-right: 10px;
        }

        .in-stock {
            color: $green-color;
        }

        .out-stock {
            color: $orange-color;
        }
    }
    .product__image {        
        text-align: center;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .product__reviews {
        .stars {
            display: flex;                        
            color: $light-gray;           
            margin-top: 5px;
            position: relative;
            div {position: absolute;}

            .star {                
                font-size: 16px!important;
                color: $light-gray;                                
                display: inline-block;                
            }

            .stars__rated {
                font-size: 16px!important;
                color: $gold-color;                
            }
        }
        .reviews {
            text-align: right;
            font-size: 13px;
            color: $light-gray
        }
    }
    .product__name {
        font-size: 14px;
    }
    .product__price {
        .old-price {
            color: $medium-gray;
            font-size: 15px;            
        }
        .new-price {
            font-size: 18px;
            font-weight: 600;
        }
    }
    .add-to-cart {
        margin: 10px 0;        
    }
}