@import './colors';
@import './devices';

.product-category {
    @media (max-width: $breakpoint-mobile) {
        width: 100%;
        height: 120px;        
        margin: 0 auto;        
    }
    width: 230px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    img {
        min-width: 100%;
        min-height: 100%;
    }
    h4, .product-category__link {        
        position: absolute;
    }    

    h4 {
        @media (max-width: $breakpoint-mobile) {top: 20px;font-size: 1.6rem}
        color: $white-color;
        font-weight: 600;
        font-size: 1.2rem;        
    }

    .product-category__link {
        bottom: 20px;
        font-size: 14px;
        color: $light-gray;
        text-decoration: underline;
    }
}